<h1>Approve / Reject / KIV Order</h1>

<%= @msg%>

<form method="POST">
	<% @cari.each do |c|%>
	<fieldset>
		<legend>UPDATE ORDER STATUS</legend>
	<table>
		<tr>
			<td>No Kp</td><td><input type=text name="nokp3" value="<%= c.nokp3%>"></td>
		</tr>
		<tr>
			<td>Name</td><td><input type=text name="cusname3" value="<%= c.cusname3%>"></td>
		</tr>
		<tr>
			<td>Status</td><td><select name="orderstat">
				<% @order.each do |p| %>
					<option><%=p.info%></option>
				<%end%>
				</select></td>
		</tr>
		<tr>
		
			<td colspan="2" align="center"><input type="submit" value="SUBMIT">
			<a href="/checkorder"><input type="button" value="CANCEL"></a>
			<a href="/detailposter/<%= c.id%>"><input type="button" value="BACK"></a></td>
		
		<tr>
	</table>
	</fieldset>
	<%end%>
</form>