<h1>Bunting Details </h1>

<% @show.each do |sh|%>


	<table>
	<tr>
			<th align="left">Name</th>
			<td><%= sh.cusname2 %></td>
		</tr>
		<tr>
			<th align="left">Nokp</th>
			<td><%= sh.nokp2 %></td>
		</tr>
	
			<tr>
			<th align="left">Company Name</th>
			<td><%= sh.company_name2%></td>
		</tr>
			<tr>
			<th align="left">Email</th>
			<td><%= sh.cusemail2 %></td>
		</tr>
			<tr>
			<th align="left">Address</th>
			<td><%= sh.cusadd2 %></td>
		</tr>
			<tr>
			<th align="left">Postcode</th>
			<td><%= sh.cuspostcode2 %></td>
		</tr>
			<tr>
			<th align="left">City</th>
			<td><%= sh.cuscity2 %></td>
		</tr>
			<tr>
			<th align="left">State</th>
			<td><%= sh.cusstate2 %></td>
		</tr>
			<tr>
			<th align="left">Phone</th>
			<td><%= sh.cusphone2 %></td>
		</tr>
			<tr>
			<th align="left">Date</th>
			<td><%= sh.cusdate2 %></td>
		</tr>
		
		</tr>
			<tr>
			<th align="left">Banner Size</th>
			<td><%= sh.buntingsize %></td>
		</tr>
		
		</tr>
			<tr>
			<th align="left">Other Size(if have)</th>
			<td><%= sh.other %></td>
		</tr>
		
		</tr>
			<tr>
			<th align="left">Quantity</th>
			<td><%= sh.buntingquantity %></td>
		</tr>
			<tr>
			<th align="left">Uploaded File</th>
			<td>
		
			<% if sh.upload != " " %>
					<a href=<%= "../../" + sh.upload %> target="_blank">View</a>
			<% else %>
				Not Uploaded
			<% end %>
	  
		</td>
		</table>
	
	</form>
	<center><a href="/confirmationbun/<%= sh.nokp2 %>"><input type="submit" name="approve" value="UPDATE STATUS"></a>
			<a href="/listbunting"><input type="button" name="back" value="BACK"></a>
			</center>


<% end %>